$color__system__background--overlay: rgba(0, 0, 0, 0.8);
$color__system__background--white: #FFFFFF;
$color__system__background--grey: #F5F5F5;
$color__system__border: #E6E6E6;

$color__table__header: #FAFAFA;
$color__table__hover: #FAFBFF;

$color__functional__primaryDark: #333333;
$color__functional__primaryDark--bg: rgba(51, 51, 51, 0.1);
$color__functional__primaryDark--light: #777777;

$color__functional__primaryBlue: #328DFF;
$color__functional__primaryBlue--bg: rgba(50, 141, 255, 0.1);

$color__functional__success: #81BD3E;
$color__functional__success--bg: rgba(129, 189, 62, 0.1);

$color__functional__warning: #FFAB40;
$color__functional__success--bg: rgba(255, 171, 64, 0.1);

$color__functional__error: #CE0E2D;
$color__functional__success--bg: rgba(206, 14, 45, 0.1);