.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    display: block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.15px;
    width: 100%;
    margin: 8px;
  }

  input {
    display: block;
    width: 100%;
    color: rgb(41, 43, 50);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    min-height: 48px;
    animation: 0s ease 0s 1 normal none running none;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #bbc2dc;
    display: inline-block;
    text-align: start;
  }
}