body {
  font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,Lucida Grande,sans-serif;
  font-weight: 400;
  color: #292b32;
  background-color: #f6f8fd;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 14px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}
